@use "variables.scss";

.business-card-v1 {
    width: variables.$width;
    height: variables.$height;
    background-image: url("../svg/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: variables.$imgSize;
            height: variables.$imgSize;
        }

        .business-name {
            padding: 4px;
            font-size: 16px;

            span:first-child {
                color: variables.$logoColor;
            }

            span:last-child {
                color: white;
            }
        }

        .business {
            font-size: 12px;
            color: white;
        }

        .business-name, .business {
            width: max-content;
            font-family: "Montserrat";
            font-weight: 500;
        }
    }

    form {
        border: 1px solid variables.$background-color;
        border-left-width: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

        .card-section {
            display: none;
            input {
                display: none;
            }
        }

        .card-section:first-of-type {
            padding-bottom: 32px;

            .icon {
                margin-left: 22px;
            }
        }

        .card-section:nth-of-type(2) .icon {
            margin-left: 52px;
        }

        .card-section:nth-of-type(3) .icon {
            margin-left: 75px;
        }

        .card-section:nth-of-type(4) .icon {
            margin-left: 97px;
        }
    }
}