@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$accentColor: #222c38;
$stripeColor: #cbd0d2;
$primaryColor: #dc143c;

.business-card {
    --width: 720px;
    --height: 400px;
    --font-size: calc(0.04 * var(--height));
    width: var(--width);
    height: var(--height);
    position: relative;
    transition: width 125ms ease-out, height 125ms ease-out;
    overflow: hidden;
}

.front-side, .back-side {
    width: 100%;
    height: 100%;
    border: 1px solid $accentColor;
    border-radius: calc(0.02 * var(--height));
    background-color: $accentColor;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 125ms ease-out;
    position: absolute;
    top: 0; left: 0;
    display: flex;
    flex-direction: row;
    
    .flip {
        width: calc(0.08 * var(--height));
        height: calc(0.08 * var(--height));
        padding: calc(0.02 * var(--height));
        background-color: transparent;
        position: absolute;
        top: 0; right: 0;
        z-index: 1;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    .error-message {
        width: 100%;
        font-size: calc(0.75 * var(--font-size));
        color: red;
    }

    input:focus {
        outline: none;
    }
}

.visible { transform: rotateX(0deg); }
.invisible { transform: rotateX(90deg); }

.business-card .front-side {
    background-image: url("../svg/front-background.svg");
    justify-content: space-between;

    .logo {
        width: 30%;
        padding: calc(0.08 * var(--height)) 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .error-message {
            text-align: center;
        }

        img {
            width: calc(0.24 * var(--height));
            height: calc(0.24 * var(--height));
        }

        .business-name {
            padding: calc(0.01 * var(--height));
            font-size: calc(1.25 * var(--font-size));
            text-align: center;

            input {
                width: 87.5%;
                background-color: transparent;
                font-family: "Montserrat";
                font-size: inherit;
                text-align: center;
                color: $primaryColor;
            }
        }

        .business {
            background-color: transparent;
            font-size: calc(0.75 * var(--font-size));
            text-align: center;
            color: white;
        }

        .business-name input, .business {
            font-family: "Montserrat";
            font-weight: 500;
        }
    }

    .right-side {
        width: 50%;
        height: 100%;
        padding-top: calc(0.18 * var(--height));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .card-name-input {
            width: 100%;
            min-height: calc(0.16 * var(--height));
            max-height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &::after {
                content: "";
                width: calc(0.16 * var(--height));
                height: calc(0.01 * var(--height));
                border-radius: calc(0.005 * var(--height));
                margin-top: calc(0.02 * var(--height));
                background-color: $accentColor;
                display: block;
            }

            .name-inputs {
                width: 100%;

                input {
                    width: 50%;
                    font-size: calc(1.125 * var(--font-size));

                    &:first-of-type {
                        font-weight: 700;
                        color: $accentColor;
                    }
                }

                .error-message {
                    width: 50%;
                    display: inline-block;
                }
            }

            input {
                font-family: "Montserrat";
                font-size: calc(0.875 * var(--font-size));
                font-weight: 500;
                text-transform: uppercase;
            }

            > input {
                width: 100%;
                font-size: calc(0.75 * var(--font-size));
            }
        }

        .card-section {
            width: 100%;
            min-height: calc(0.12 * var(--height));
            max-height: calc(0.20 * var(--height));
            padding: calc(0.02 * var(--height)) 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .icon {
                width: calc(0.08 * var(--height));
                height: calc(0.08 * var(--height));
                border-radius: 50%;
                background-color: $primaryColor;
                margin-right: calc(0.04 * var(--height));

                img {
                    width: calc(0.08 * var(--height));
                    height: calc(0.08 * var(--height));
                    padding: 4px;
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .input {
                    max-height: calc(0.08 * var(--height));
                    display: flex;
                    flex-direction: column;

                    input {
                        height: calc(0.04 * var(--height));
                        font-family: "Montserrat";
                        font-size: calc(0.03 * var(--height));
                        font-weight: 500;
                    }
                }
            }
        }

        .submit {
            width: 100%;
            height: calc(0.08 * var(--height));
            padding-right: calc(0.04 * var(--height));
            margin-top: calc(0.02 * var(--height));
            background-color: $primaryColor;
            background-clip: content-box;
            font-family: "Montserrat";
            font-size: calc(0.875 * var(--font-size));
            font-weight: 500;
            color: white;
            transition: background-color 250ms;
            cursor: pointer;

            &:hover, :focus {
                background-color: lighten($primaryColor, 5);
            }

            &:active, :focus {
                background-color: darken($primaryColor, 5);
                transition-duration: 0ms;
                outline: none;
            }
        }

        input:focus {
            outline: none;
        }
    }
}

.business-card .back-side {
    background-image: url("../svg/back-background.svg");
    justify-content: flex-end;

    .content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: calc(0.24 * var(--height));
            height: calc(0.24 * var(--height));
            margin-bottom: calc(0.02 * var(--height));
        }

        .caption {
            font-family: "Montserrat";
            font-size: var(--font-size);
            color: white;
            margin-bottom: calc(0.04 * var(--height));
        }

        input {
            width: 100%;
            background-color: transparent;
            font-family: "Montserrat";
            font-size: calc(0.75 * var(--font-size));
            text-align: center;
            color: white;
        }

        .error-message {
            width: 100%;
            text-align: center;
        }
    }
}

// 37.5% size
@media screen and (min-width: 0px) {
    .business-card {
        --width: 270px;
        --height: 150px;
    }
}

// 50% size
@media screen and (min-width: $sm) {
    .business-card {
        --width: 360px;
        --height: 200px;
    }
}

// 65% size
@media screen and (min-width: $md) {
    .business-card {
        --width: 468px;
        --height: 260px;
    }
}

// 80% size
@media screen and (min-width: $lg) {
    .business-card {
        --width: 576px;
        --height: 320px;
    }
}

// 100% size
@media screen and (min-width: $xl) {
    .business-card {
        --width: 720px;
        --height: 400px;
    }
}