@use "variables.scss";

.business-card {
    --font-size: 16px;
    min-width: variables.$minwidth;
    min-height: variables.$minheight;
    width: variables.$widthxl;
    height: variables.$heightxl;
    position: relative;
    overflow: hidden;
}

.front-side, .back-side {
    width: 100%;
    height: 100%;
    border: 1px solid variables.$accentColor;
    border-radius: calc(0.5 * var(--font-size));
    background-color: variables.$accentColor;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 250ms ease-in-out;
    position: absolute;
    top: 0; left: 0;
    
    .flip {
        width: calc(2 * var(--font-size));
        height: calc(2 * var(--font-size));
        padding: calc(0.5 * var(--font-size));
        background-color: transparent;
        position: absolute;
        top: 0; right: 0;
        z-index: 1;
        
        &:hover {
            cursor: pointer;
        }
    }
}

.visible { transform: rotateX(0deg); }
.invisible { transform: rotateX(90deg); }

.business-card .front-side {
    background-image: url("../svg/front-background.svg");
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .error-message {
        width: 100%;
        font-size: calc(0.75 * var(--font-size));
        color: red;
    }

    .logo {
        width: 30%;
        padding: calc(2 * var(--font-size)) 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .error-message {
            text-align: center;
        }

        img {
            width: calc(6 * var(--font-size));
            height: calc(6 * var(--font-size));
        }

        input:focus {
            outline: none;
        }

        .business-name {
            padding: calc(0.25 * var(--font-size));
            font-size: calc(1.25 * var(--font-size));
            text-align: center;

            input {
                width: 87.5%;
                background-color: transparent;
                font-family: "Montserrat";
                font-size: inherit;
                text-align: center;
                color: variables.$primaryColor;
            }
        }

        .business {
            background-color: transparent;
            font-size: calc(0.75 * var(--font-size));
            text-align: center;
            color: white;
        }

        .business-name input, .business {
            font-family: "Montserrat";
            font-weight: 500;
        }
    }

    .right-side {
        width: 50%;
        height: 100%;
        padding-top: calc(4.5 * var(--font-size));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .card-name-input {
            width: 100%;
            min-height: calc(4 * var(--font-size));
            max-height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &::after {
                content: "";
                width: calc(4 * var(--font-size));
                height: calc(0.25 * var(--font-size));
                border-radius: calc(0.125 * var(--font-size));
                margin-top: calc(0.5 * var(--font-size));
                background-color: variables.$accentColor;
                display: block;
            }

            .name-inputs {
                width: 100%;

                input {
                    width: 50%;
                    font-size: calc(1.125 * var(--font-size));

                    &:first-of-type {
                        font-weight: 700;
                        color: variables.$accentColor;
                    }
                }

                .error-message {
                    width: 50%;
                    display: inline-block;
                }
            }

            input {
                font-family: "Montserrat";
                font-size: calc(0.875 * var(--font-size));
                font-weight: 500;
                text-transform: uppercase;
            }

            > input {
                width: 100%;
                font-size: calc(0.75 * var(--font-size));
            }
        }

        .card-section {
            width: 100%;
            min-height: calc(3 * var(--font-size));
            max-height: calc(5 * var(--font-size));
            padding: calc(0.5 * var(--font-size)) 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .icon {
                width: calc(2 * var(--font-size));
                height: calc(2 * var(--font-size));
                border-radius: 50%;
                background-color: variables.$primaryColor;
                margin-right: var(--font-size);

                img {
                    width: calc(2 * var(--font-size));
                    height: calc(2 * var(--font-size));
                    padding: 4px;
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .input {
                    max-height: calc(2 * var(--font-size));
                    display: flex;
                    flex-direction: column;

                    input {
                        height: var(--font-size);
                        font-family: "Montserrat";
                        font-size: calc(0.75 * var(--font-size));
                        font-weight: 500;
                    }
                }
            }
        }

        .submit {
            width: 100%;
            height: 32px;
            padding-right: 16px;
            margin-top: 8px;
            background-color: variables.$primaryColor;
            background-clip: content-box;
            font-family: "Montserrat";
            font-weight: 500;
            color: white;
            transition: background-color 250ms;
            cursor: pointer;

            &:hover, :focus {
                background-color: lighten(variables.$primaryColor, 5);
            }

            &:active, :focus {
                background-color: darken(variables.$primaryColor, 5);
                transition-duration: 0ms;
                outline: none;
            }
        }

        input:focus {
            outline: none;
        }
    }
}

.business-card .back-side {
    background-image: url("../svg/back-background.svg");
}

@media screen and (min-width: 0px) {
    .business-card-v2 {
        --font-size: 16px * 0.125;
        width: variables.$minwidth;
        height: variables.$minheight;
    }
}

@media screen and (min-width: variables.$sm) {
    .business-card-v2 {
        --font-size: 16px * 0.25;
        width: variables.$widthsm;
        height: variables.$heightsm;
    }
}

@media screen and (min-width: variables.$md) {
    .business-card-v2 {
        --font-size: 16px * 0.5;
        width: variables.$widthmd;
        height: variables.$heightmd;
    }
}

@media screen and (min-width: variables.$lg) {
    .business-card-v2 {
        --font-size: 16px * 0.75;
        width: variables.$widthlg;
        height: variables.$heightlg;
    }
}

@media screen and (min-width: variables.$xl) {
    .business-card-v2 {
        --font-size: 16px;
        width: variables.$widthxl;
        height: variables.$heightxl;
    }
}