$width: 800px;
$height: 400px;
$background-color: #292929;
$stripeColor: #cbd0d2;
$logoColor: #dc143c;

$imgSize: $height / 4;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');