$minwidth: 80px;
$minheight: 40px;

$widthsm: 160px;
$heightsm: 80px;
$widthmd: 320px;
$heightmd: 160px;
$widthlg: 480px;
$heightlg: 250px;
$widthxl: 640px;
$heightxl: 360px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$accentColor: #292929;
$stripeColor: #cbd0d2;
$primaryColor: #dc143c;

$imgSize: $heightxl / 4;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');